
.container{
width:500px;
background-color: rgba(84, 15, 188, 0.314);
justify-items: center;
margin: 20px 0 0 300px;
padding: 30px;
border-radius: 5px;
}
label, input {
  display: inline-block;
  vertical-align: baseline;
  width: 200px;
  margin: 5px;
  font-weight: bold;
}

label {
  color: #2D2D2D;
  font-size: 15px;
}

 form,input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.btn{
  background-color: #0d1b17;
  color: aliceblue;
  font-size: 16px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
}
  